@import '../section-title/section-title.css';
@import '../section-subtitle/section-subtitle.css';
@import './__section-title/kaufman__section-title.css';
@import './__triangle/kaufman__triangle.css';
@import './__table/table.css';

.kaufman{
  background-color: #1f1f1f;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}
